.cards03 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card03 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 250px;
  margin: 10px;
  overflow: hidden;
}

.card03-img {
  padding: 0.5rem;
  width: 100%;
  cursor: pointer;
}

.card03 p {
  text-align: left;
  margin-bottom: auto;
}

@media screen and (max-width: 500px) {
  .card03 {
    width: 80%;
  }
}
