.card02 {
  display: flex;
  background-color: white;
  border-radius: var(--main-border-radius);
  overflow: hidden;
  margin: 0.8rem;
  color: var(--textbright);
}

.card02 img {
  width: 100px;
  height: 100px;
  border-radius: 500px;
  object-fit: cover;
  position: relative;
  margin: 1em auto;
}

.card02 p {
  padding: 1rem;
  text-align: left;
}

.card02 .button {
  align-self: flex-end;
}
