.imgcontentwrapper02 {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-items: flex-start;
}

.description2 {
  margin: 1rem;
}

.description2-img-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 300px;
  margin: 1.5rem;
}

.description2-about-img-wrapper {
  display: flex;
  margin: 0 auto;
}

.description2-img {
  border-radius: 500px;
  width: 100px;
  margin: 1em 1em 0 1em;
}

@media screen and (max-width: 855px) {
  .description2-img-wrapper {
    display: none;
  }
}
