nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: black;
}

.logo {
  display: flex;
  align-items: center;
  z-index: 3;
}

header img {
  padding: 0.4em;
  width: 60px;
}

#logo-desc {
  font-weight: 800;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  width: 60%;
  text-align: center;
}

.nav-links li {
  margin: 20px;
  list-style: none;
}

.nav-link {
  cursor: pointer;
  color: white;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: 700;
  color: rgb(206, 206, 206);
  position: relative;
  overflow: hidden;
  will-change: color;
  transition: color 0.25s ease-out;
  padding-bottom: 4px;
}

.burger {
  display: none;
  cursor: pointer;
  position: relative;
  cursor: pointer;
  width: 30px;
  height: 30px;
}

.burger div {
  width: 100%;
  height: 3px;
  background-color: white;
  margin: 5px;
  position: absolute;
  transition: all 0.3s;
  left: 50%;
  margin-left: -15px;
  z-index: 30;
}

.line1 {
  top: 0%;
}

.line2 {
  top: 33%;
}
.line3 {
  top: 66%;
}

/* Link Details*/

.nav-link::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

.nav-link:focus::before,
.nav-link:hover::before {
  background-color: var(--highlightcolor01);
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/* Mobile */

@media screen and (max-width: 975px) {
  nav {
    justify-content: space-between;
    padding: 0 30px 0 30px;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 300px;
    top: 8vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 50px;

    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 0.3s ease-in;
    z-index: 2;
    justify-content: flex-start;
  }

  .burger {
    display: block;
  }

  .nav-active {
    transform: scale(1, 1);
  }

  .burger-active .line1 {
    transform: rotate(45deg);
    top: 33%;
  }

  .burger-active .line2,
  .burger-active .line3 {
    transform: rotate(-45deg);
    top: 33%;
  }

  #logo-desc {
    display: none;
  }
}
