.title04-wrapper {
  display: flex;
  justify-content: center;
  width: 200px;
  text-align: center;
  align-content: center;
  margin: auto;
  padding: 0.5rem;
}

.title04 {
  color: var(--textbright);
}
