.title06 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--textbright);
  text-align: center;
}

.title06::before,
.title06::after {
  content: '';
  width: 20px;
  height: 4px;
  margin: 0.7rem;
}
.title06::before {
  background-color: rgb(255, 102, 0);
}
.title06::after {
  background-color: rgb(20, 160, 20);
}

@media screen and (max-width: 768px) {
  .title06 {
    font-size: 1.8rem;
  }

  .title06::before,
  .title06::after {
    width: 20px;
  }
}
