.title05 {
  display: flex;
  font-size: 25px;
  justify-content: flex-start;
  align-items: center;
}

.title05::before {
  content: '';
  width: 4px;
  height: 30px;
  margin: 0 0.7rem 0 0;
}
.title05::before {
  background-color: rgb(255, 102, 0);
}
