.videos01-wrapper {
  max-width: 900px;
  width: 95%;
  margin: 2em auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.videos01 {
  width: 90%;
}

.videos01-wrapper p {
  padding: 0.3rem 0.6rem 1rem 0.6rem;
}
