body,
label,
input,
textarea {
  font-family: Verdana, sans-serif;
}

h1 {
  font-size: 2.8rem;
  line-height: 1.2;
  margin: 0.3rem;
  letter-spacing: 3px;
}

h2 {
  font-size: 2rem;
  line-height: 1.2;
  margin: 0.7rem;
}

h3 {
  font-size: 1.2rem;
  line-height: 1.5;
  margin: 0.3rem;
  letter-spacing: 2px;
}

h4 {
  font-size: 1rem;
  line-height: 1.6;
}

h5 {
  font-size: 0.9rem;
}

h6 {
  font-size: 0.7rem;
}

p,
span {
  font-size: 1rem;
  line-height: 1.4;
  letter-spacing: 1.5px;
  margin: 0.3rem;
}

input,
textarea {
  font-size: 1rem;
}

.darktext {
  color: var(--textdark);
}

.email-link {
  text-decoration: none;
}
.email-link:hover {
  text-decoration: underline;
}
