.section02 {
  background-color: var(--background-color02);
  padding: 1rem;
  width: 100%;
  text-align: center;
  overflow-x: hidden;
  position: relative;
}
@media screen and (max-width: 768px) {
  .section02 {
    padding: 0.6rem;
  }
}
